.container{
    text-align: center;
} 

.title{
    margin-top: 30px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{
    color: #26ffcb;
    padding-left: 15px;
}
.reset{
    color: #26ffcb;
    font-size: 25px;
    border-radius: 50px;
    height: 80px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #1f3540;
    margin-bottom: 40px;
    
}
.boxes{
    display: flex;
    height: 140px;
    width: 140px;
    color: aliceblue;
    border: 4px solid #0f1b21;
    background-color: #1f3540;
    border-radius: 12px;
    cursor: pointer;
}

.board{
    height: 500px;
    width: 564px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.boxes img{
   margin: 40px 40px;
}

.title img{
    padding: 20px 20px;
    height: 50px;
}

.win-icon{
    height: 50px;
    width: 50px;
}